* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

footer,
header,
main,
section {
	display: block;
}

html {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 0;
	padding: .5em;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

.container:before,
.container:after {
	content: " ";
	display: table;
}

.container:after {
	clear: both;
}

html {
    background: #943B5E;
    padding: 0;
    margin: 0;
}

body {
    margin: .5em;
    padding: .5em;
}

header {
    background: rgba(216, 78, 85, .22);
    border-radius: 2em;
    padding: 2em;
    margin: 1em;

}

h1,
h4,
p {
    color: #FDAB72;
    font-family: New Tegomin, Arial, Helvetica, sans-serif;
}

main {
    background: rgba(216, 78, 85, .22);
    border-radius: 2em;
    padding: 2em;
    margin: 1em;
}