* {
    margin: 0em;
    padding: 0em;
    box-sizing: border-box;
}

html {
    background: #ffd9cf;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background: #8da47e;
    border-radius: .9em;
    height: 96%;
    width: 98%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

header {
    background: rgba(221, 242, 244, .1);
    margin: 0em 2em 0em 0em;
    padding: .9em;
    border-radius: .9em;
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    overflow: hidden;
}

main {
    background: rgba(235, 150, 170, .19);
    padding: .9em;
    border-radius: .9em;
    width: 45%;
    height: 70%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

footer {
    background: rgba(244, 200, 21, .15);
    padding: .5em;
    border-radius: .9em;
    width: 95%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}


h1, h4, p, a, li {
    font-family: "New Tegomin", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #a15d98;
}

h1 {
    font-size: 3.5em;
    line-height: 1em;
}

h4 {
    font-size: 1.75em;
}

.contact {
    margin: 0em 0em .3em .3em;
}

li {
    list-style: none;
    line-height: 1.4em;
    font-size: 1.1em;
}

a {
    text-decoration: none;
    font-size: 1.2em;
}





